:root {
    --ion-color-gradient-primary: linear-gradient(135deg, #6f45e2d2, #88d3ced3);
    --ion-color-gradient-primary-rgb: 111, 69, 226;
    /* RGB aproximado del primer color */
    --ion-color-gradient-primary-contrast: #ffffff;
    /* Color de contraste para el texto */
    --ion-color-gradient-primary-contrast-rgb: 255, 255, 255;
    --ion-color-gradient-primary-shade: #5e3dbf;
    /* Tonalidad más oscura */
    --ion-color-gradient-primary-tint: #7c55e6;
    /* Tonalidad más clara */
}

$colors: (
    gradient-primary: (base: var(--ion-color-gradient-primary),
        contrast: var(--ion-color-gradient-primary-contrast),
        shade: var(--ion-color-gradient-primary-shade),
        tint: var(--ion-color-gradient-primary-tint))
);