<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de Combate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <button class="md-save-button" (click)="openAddMonsterAlert()">
   Añadir Monstruo
  </button>
  
  <ion-card *ngIf="availableCharacters.length > 0">
    <ion-card-header>
      <ion-card-title>Personajes Disponibles</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-card *ngFor="let character of availableCharacters; trackBy: trackByCharacterId" class="combat-entity">
        <ion-row class="entity-header">
          <!-- Nombre de la Entidad -->
          <ion-col size="8">
            <h2 class="entity-name">{{ character.name }}</h2>
          </ion-col>
          <!-- Iniciativa -->
          <ion-col size="4" class="entity-initiative">
            <p>Iniciativa: {{ character.initiative }}</p>
          </ion-col>
        </ion-row>
        <ion-card-content>
          <ion-row>
            <ion-col size="8">
              <div class="hp-info">
                <span>{{ character.secondaryStats.currentHP }} / {{ character.secondaryStats.maxHP }}</span>
              </div>
              <ion-progress-bar [value]="character.secondaryStats.currentHP / character.secondaryStats.maxHP"
                [color]="getHPBarColor(character.secondaryStats.currentHP, character.secondaryStats.maxHP)">
              </ion-progress-bar>
            </ion-col>

            <ion-col size="4">
              <ion-button (click)="addCharacterToCombat(character)">Añadir</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="combatEntities.length > 0">
    <ion-card-header>
      <ion-card-title>Orden de Combate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-card *ngFor="let entity of combatEntities; trackBy: trackByEntityId" class="combat-entity">
          <ion-toolbar>
            <ion-title>{{entity.name}}</ion-title>
            <ion-buttons slot="end">
              <ion-button fill="clear" color="danger" (click)="confirmRemoveEntity(entity)" aria-label="Eliminar entidad">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-card-header>
            <ion-row class="entity-header">
              <!-- Iniciativa (Editable para monstruos) -->
              <ion-col size="6" *ngIf="entity.type === 'monster'" class="entity-initiative">
                <div class="attribute-box">
                  <div class="attribute-title">Init</div>
                  <div class="attribute-value">
                    <ion-input type="number" [(ngModel)]="entity.initiative" (ionBlur)="updateEntity(entity, { initiative: entity.initiative })"></ion-input>
                  </div>
                </div>
              </ion-col>

              <ion-col size="6" *ngIf="entity.type === 'monster'" class="entity-initiative">
                <div class="attribute-box">
                  <div class="attribute-title">CA</div>
                  <div class="attribute-value">
                    <ion-input type="number" [(ngModel)]="entity.armorClass" (ionBlur)="updateEntity(entity, { armorClass: entity.armorClass })"></ion-input>
                  </div>
                </div>
              </ion-col>
        
              <ion-col size="6" *ngIf="entity.type !== 'monster'" class="entity-initiative">
                <div class="attribute-box">
                  <div class="attribute-title">Init</div>
                  <div class="attribute-value">
                    <ion-input type="number" [(ngModel)]="entity.initiative" (ionBlur)="updateEntity(entity, { initiative: entity.initiative })"></ion-input>
                  </div>
                </div>
              </ion-col>

              <ion-col size="6" *ngIf="entity.type !== 'monster'" class="entity-initiative">
                <div class="attribute-box">
                  <div class="attribute-title">CA</div>
                  <div class="attribute-value">
                    <ion-input type="number" [(ngModel)]="entity.armorClass" (ionBlur)="updateEntity(entity, { armorClass: entity.armorClass })"></ion-input>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-header>
        
          <ion-card-content>
            <ion-grid>
              <ion-row class="entity-row">
                <!-- Botón Restar HP (Solo Monstruos) -->
                <ion-col size="2" *ngIf="entity.type === 'monster'" class="entity-controls">
                  <ion-button fill="clear" size="small" (click)="adjustHP(entity, -1)" aria-label="Reducir vida">
                    <ion-icon name="remove-circle-outline"></ion-icon>
                  </ion-button>
                </ion-col>
        
                <!-- Barra de Vida -->
                <ion-col size="8" *ngIf="entity.type === 'monster'" class="entity-hp">
                  <div class="hp-info">
                    <span>{{ entity.currentHP }} / {{ entity.maxHP }}</span>
                  </div>
                  <ion-progress-bar [value]="entity.currentHP / entity.maxHP"
                                    [color]="getHPBarColor(entity.currentHP, entity.maxHP)">
                  </ion-progress-bar>
                </ion-col>

                <ion-col size="12" *ngIf="entity.type !== 'monster'" class="entity-hp">
                  <div class="hp-info">
                    <span>{{ entity.currentHP }} / {{ entity.maxHP }}</span>
                  </div>
                  <ion-progress-bar [value]="entity.currentHP / entity.maxHP"
                                    [color]="getHPBarColor(entity.currentHP, entity.maxHP)">
                  </ion-progress-bar>
                </ion-col>
        
                <!-- Botón Sumar HP (Solo Monstruos) -->
                <ion-col size="2" *ngIf="entity.type === 'monster'" class="entity-controls">
                  <ion-button fill="clear" size="small" (click)="adjustHP(entity, 1)" aria-label="Aumentar vida">
                    <ion-icon name="add-circle-outline"></ion-icon>
                  </ion-button>
                </ion-col>
        
                <!-- Botón Eliminar -->
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
